{% extends 'WebProfilerBundle:Profiler:layout.twig' %}

{% block menu %}
<img style="margin: 0 5px 0 0; vertical-align: middle; width: 32px" width="32" height="32" alt="Events" src="{{ asset('bundles/webprofiler/images/events.png') }}" />
Events
{% endblock %}

{% block panel %}
    <h2>Called Listeners</h2>

    <table>
        <tr>
            <th>Event</th>
            <th>Caller</th>
            <th>Listener</th>
        </tr>
        {% for element in collector.calledlisteners %}
            <tr>
                <td><code>{{ element.event }}</code></td>
                <td><code>{{ element.caller|abbr_class }}</code></td>
                <td><code>{{ element.listener|abbr_method }}()</code></td>
            </tr>
        {% endfor %}
    </table>

    {% if collector.notcalledlisteners %}
        <h2>Not Called Listeners</h2>

        <table>
            <tr>
                <th>Event</th>
                <th>Listener</th>
            </tr>
            {% for element in collector.notcalledlisteners %}
                <tr>
                    <td><code>{{ element.event }}</code></td>
                    <td><code>{{ element.listener|abbr_method }}()</code></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
